$primary-color: #00b6aa;
$darkgrey: #898686;
$lightgrey:#bebcc1;
$white:#ffffff;
$pealred:#f14f55;
$pealgrey:#f0f0f0;
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Raleway', sans-serif;
  }
.darkgrey_background{
    background: #898686;
}
body::-webkit-scrollbar {
    width: 0.4em;
}
 
body::-webkit-scrollbar-track {
    background-color: $pealred;
}
 
body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  outline: 1px solid $pealred;
}
::-moz-selection { 
    color:#fff !important;
    background: #00b6aa !important;
}

::selection {
    color:#fff !important;
    background: #00b6aa !important;
}
.delay0-5 {
    -animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
}

.delay1 {
    -animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}

.delay1-3 {
    -animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}

.delay1-5 {
    -animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

.delay1-7 {
    -animation-delay: 1.7s;
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}

.delay2 {
    -animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
}
.top_menu{
    height: 141px;
    background-image: url(../img/top_menu_bg.jpg);
    background-repeat: repeat-x;
    .top_container{
            .top_row{
                    .logo_wrap{
                        padding: 13px 0px;
                            img{
                                display: block;
                                margin: 0px auto;
                            }
                    }
                    .primary_menu_wrap{
                        height: 142px;   
                        background-image: url(../img/primary_menu_bg.png);
                        background-repeat: repeat-x; 
                            .direct_contact_row{
                                height: 67px;
                                    .hotline_contact{
                                        height: 67px;
                                            .top_span{
                                                display: block;
                                                height: 40px;
                                                margin-top: 10px;
                                                padding-left:120px; 
                                                padding-top: 5px;
                                                img, p{
                                                    float: left;
                                                }
                                            }
                                    }
                                    .address_contact{
                                        height: 67px; 
                                        padding-left: 110px;
                                        .top_span{
                                            img{
                                                float: left;
                                                padding-top: 15px;
                                            }
                                            p{
                                                float: left;
                                                padding-top: 7px; 
                                                margin-left: 15px;
                                                line-height: 24px;
                                            }
                                        }
                                        .top_span p{
                                            text-align: left;  
                                        }
                                    }
                            }
                            .primary_nav{
                                    .navbar-default{
                                        background-color: transparent !important;
                                    }
                            }
                    }
             }
    }
}
.navbar-default .navbar-nav>li>a{
    margin-top: 10px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #f14f55;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color: #f14f55;
}
.navbar-default .navbar-nav>li>a{
    color:#fff;
}
.navbar_list{
    margin-right: 50px;
}
.pic-contents{
   
}
.hero_img{
    width: 100%;
    margin-top: -2px;
    z-index: 0;
  }
.about_our_company{
  min-height: 390px;
  background: $darkgrey;
    .container{
        margin-top: 48px;
        padding-bottom: 50px;
        h3{
            color:$white;
        }
        .subline{
            color:#d94948;
            font-weight: bolder;
        }
        .textline{
            color:$white;   
            margin-top: 40px;
        }
    }
}
.what_we_do{
    min-height: 390px;
    background: $white;
        .container{
            h3{
                color: #10482b;
            }
            .subline{
                color:#d94948;
                font-weight: bolder;
                margin-bottom: 40px;
            }
        }
}
.thumbnail{
    border: none;
}
.maid_bio_data{
    background: $pealgrey;
    margin-top: 48px;
    padding-bottom: 50px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    border:none;
}
.maid_thumbnail{
    padding: 25px;
}
.madi_bio_col{
    margin-bottom: 20px;
}
.btn-danger{
    background-color: $pealred !important;
}
.primary_menu_bottom_row{
    min-height: 148px;
    line-height: 148px;
    background: $primary-color;
        a{
            color:$white;
        }
        a:hover{
            color:$pealred;
            font-weight: bold;
        }
}
.footer{
    height: 50px;
    background: $pealred;
    color: $white;
        p{
            line-height: 50px;
        }
}
.ind_row{
    padding-top: 20px;
    padding-bottom: 20px !important;
}
.slider_tumb{
    padding-top: 20px;
}
.searchmaid_container{
    border: 1px solid $lightgrey;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 40px;
}


